* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-width: 1280px;
	color: #534141;
}

.header {
	width: 100%;
	height: 60px;
}

.header-left {
	background: url('../img/icon1.png') no-repeat left;
	background-size: 26px 30px;
	display: inline-block;
	width: 10%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: relative;
	left: 7%;
}

.header-left h1{
	font-size: 25px;
}

.center-outer {
	display: inline-block;
	width: 30%;
	height: 60px;
	position: relative;
	left: 40%;
	vertical-align: middle;
}

.header-center {
	width: 100%;
	height: 60px;
	line-height: 60px;
	list-style: none;
	display: inline-block;
}

.tab {
	display: inline-block;
	font-size: 14px;
	width: 19%;
	text-align: center;
	transition: color 0.4s ease-in-out;
}

.tab:hover {
	color: red;
}

.center-line {
	position: absolute;
	width: 19%;
	height: 4px;
	background-color: red;
	bottom: 4px;
	left: 0;
	z-index: 100;
	transition: left 0.4s ease-in-out;
}

.header-center li:nth-child(1):hover~.center-line {
	left: 0;
}
.header-center li:nth-child(2):hover~.center-line {
	left: 20%;
}
.header-center li:nth-child(3):hover~.center-line {
	left: 40%;
}
.header-center li:nth-child(4):hover~.center-line {
	left: 60%;
}
.header-center li:nth-child(5):hover~.center-line {
	left: 80%;
}

.header-right {
	height: 60px;
	line-height: 60px;
	width: 7%;
	display: inline-block;
	background: url('../img/icon2.jpg') no-repeat left;
	background-size: 15px 18px;
	margin-left: 100px;
	text-align: center;
	position: relative;
	left: 44%;
}

.header-right span {
	font-size: 14px;
	color: red;
	margin-left: -25%;
}

.right-line {
	position: absolute;
	width: 0;
	height: 2px;
	background-color: red;
	bottom: 12px;
	left: 20%;
	z-index: 100;
	transition: width 0.4s ease-in-out;
}

.header-right:hover .right-line {
	width: 35%;
}

.home-pic {
	width: 100%;
	height: 650px;
	background: url('../img/head.jpg') no-repeat;
	background-size: 100% auto;
	position: relative;
}

.pic-inner {
	position: absolute;
	top: 200px;
	left: 100px;
	color: white;
	width: 500px;
	height: 400px;
}

.inner-title {
	font-size: 70px;
}

.pic-inner p {
	font-size: 22px;
	width: 330px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.inner-btn {
	width: 300px;
	height: 60px;
	line-height: 60px;
	background-color: #FD4949;
	text-align: center;
	font-size: 28px;
	transition: color 0.4s ease-in-out;
}

.inner-btn:hover {
	background-color: red;
}

.four-part {
	width: 100%;
	font-size: 13px;
	padding-bottom: 25px;
}

.every-part {
	display: inline-block;
	width: 24.8%;
	text-align: center;
	transition: color 0.4s ease-in-out;
}

.every-part:hover {
	color: red;
}

.icon {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.text {
	width: 100%;
	padding: 10px;
}

.pre-three {
	border-right: 2px solid #534141;
}

.text span {
	display: inline-block;
	width: 150px;
}

.about-world {
	width: 100%;
	background-color: #EDEAEA;
	font-size: 50px;
	text-align: center;
	padding-top: 100px;
}

.page-icon {
	margin-bottom: 60px;
}

.find {
	height: 300px;
	background: url('../img/pic2.jpg') no-repeat;
	background-size: 100% 300px;
	margin-top: 60px;
	font-size: 22px;
	color: white;
	padding-top: 80px;
	position: relative;
}

.find-inner {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.red-bg {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 0;
	left: 0;
	background-color: red;
	opacity: 0.1;
}

.find-title {
	position: relative;
}

.down-line {
	display: block;
	text-align: center;
	width: 40px;
	height: 2px;
	background-color: white;
	position: absolute;
	left: 50%;
	bottom: -15px;
	transform: translate(-50%, -50%);
	z-index: 100;
	transition: width 0.4s ease-in-out;
}

.find:hover .down-line{
	width: 300px;
}

.small-title {
	padding-top: 30px; 
	font-size: 13px;
	padding-bottom: 30px;
}

.search {
	width: 100%;
	color: #B3B3B3;
	font-size: 14px;
}

.select-outer {
	display: inline-block;
	margin: 10px;
}

.select-box {
	width: 230px; 
	position: relative;
}

.select-ul {
	list-style: none;
}

.select-box input {
	width: 100%; 
	height: 35px; 
	overflow: hidden;
	font-size: 14px;
	padding-left: 10px;
	cursor: pointer;
	border: none;
	background: url('../img/select.png') no-repeat 200px center white;
	background-size: 18px 18px;
}

.select-box ul {
	width: 230px; 
	position: absolute; 
	left: 0; 
	top: 35px; 
	background: #EDEAEA; 
	overflow: hidden;
	display: none; 
/*	border: 2px solid #BE4F48;
	border-top: 0;*/
}

.select-box ul li {
	display: block;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	width: 100%;
	text-align: left;
	padding-left: 40px;
}

.hover {
	color: white;
	background: url('../img/right.png') no-repeat 10px center #BE4F48; 
}

.search-btn {
	display: inline-block;
	width: 230px;
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
	background-color: #BE4F48;
	color: white;
}

.search-btn:hover {
	background-color: red;
}

.active {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 70px 0;
}

.show {
	width: 250px;
}

.show-img img {
	width: 190px;
	height: 300px
}

.where {
	font-size: 14px;
	color: black;
}

.sx {
	font-size: 20px;
}

.detail {
	font-size: 12px;
	color: #B3B3B3;
	margin: 10px 0;
}

.time-one {
	width: 100%;
	height: auto;
}

.time-left {
	display: inline-block;
	width: 66%;
	height: auto;
	position: relative;
	color: white;
}

.time-left img {
	width: 100%;
	height: auto;
}

.time-content {
	position: absolute;
	width: 500px;
	height: 320px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content-one {
	font-size: 50px;
	margin-bottom: -30px;
}

.content-two {
	font-size: 160px;
}

.content-three {
	font-size: 25px;
}

.content-four {
	font-size: 25px;
}

.time-right {
	display: inline-block;
	width: 33%;
	height: 100%;
}

.right-inner {
	width: 80%;
	min-height: 560px;
	overflow: hidden;
	margin: auto;
	padding-top: 100px;
}

.inner-div-two, .inner-div-three{
	display: none;
}

.i-title {
	text-align: center;
	font-size: 20px;
	color: black;
}

.i-title span {
	color: red;
}

.i-text {
	font-size: 12px;
	line-height: 2.5em;
	color: #B3B3B3;
	margin: 30px 0;
	word-break: break-all;
}

.i-text:hover {
	color: black;
}

.more-btn {
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #FD4949;
	text-align: center;
	color: #FD4949;
	font-size: 15px;
	margin: 0 auto;
}

.more-btn:hover {
	color: white;
	background-color: red;
}

.inner-tab-btn {
	text-align: center;
}

.same {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #B3B3B3;
	margin: 30px 10px;
	cursor: pointer;
}

.one-btn {
	background-color: #B3B3B3;
}
















.holder {
	height: 500px;
}






















