* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-width: 1280px;
	color: #534141;
}

.header {
	width: 100%;
	height: 60px;
}

.header-left {
	background: url('../img/icon1.png') no-repeat left;
	background-size: 26px 30px;
	display: inline-block;
	width: 10%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: relative;
	left: 7%;
}

.header-left h1{
	font-size: 25px;
}

.center-outer {
	display: inline-block;
	width: 30%;
	height: 60px;
	position: relative;
	left: 40%;
	vertical-align: middle;
}

.header-center {
	width: 100%;
	height: 60px;
	line-height: 60px;
	list-style: none;
	display: inline-block;
}

.tab {
	display: inline-block;
	font-size: 14px;
	width: 19%;
	text-align: center;
	transition: color 0.4s ease-in-out;
}

.tab:hover {
	color: red;
}

.center-line {
	position: absolute;
	width: 19%;
	height: 4px;
	background-color: red;
	bottom: 4px;
	left: 0;
	z-index: 100;
	transition: left 0.4s ease-in-out;
}

.header-center li:nth-child(1):hover~.center-line {
	left: 0;
}
.header-center li:nth-child(2):hover~.center-line {
	left: 20%;
}
.header-center li:nth-child(3):hover~.center-line {
	left: 40%;
}
.header-center li:nth-child(4):hover~.center-line {
	left: 60%;
}
.header-center li:nth-child(5):hover~.center-line {
	left: 80%;
}

.header-right {
	height: 60px;
	line-height: 60px;
	width: 7%;
	display: inline-block;
	background: url('../img/icon2.jpg') no-repeat left;
	background-size: 15px 18px;
	margin-left: 100px;
	text-align: center;
	position: relative;
	left: 44%;
}

.header-right span {
	font-size: 14px;
	color: red;
}

.right-line {
	position: absolute;
	width: 0;
	height: 2px;
	background-color: red;
	bottom: 12px;
	left: 25%;
	z-index: 100;
	transition: width 0.4s ease-in-out;
}

.header-right:hover .right-line {
	width: 50%;
}

.home-pic {
	width: 100%;
	height: 650px;
	background: url('../img/head.jpg') no-repeat;
	background-size: 100% auto;
	position: relative;
}

.pic-inner {
	position: absolute;
	top: 200px;
	left: 100px;
	color: white;
	width: 500px;
	height: 400px;
}

.inner-title {
	font-size: 70px;
}

.pic-inner p {
	font-size: 22px;
	width: 330px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.inner-btn {
	width: 300px;
	height: 60px;
	line-height: 60px;
	background-color: #FD4949;
	text-align: center;
	font-size: 28px;
	transition: color 0.4s ease-in-out;
}

.inner-btn:hover {
	background-color: red;
}

.four-part {
	width: 100%;
	font-size: 13px;
	padding-bottom: 25px;
}

.every-part {
	display: inline-block;
	width: 24.8%;
	text-align: center;
	transition: color 0.4s ease-in-out;
}

.every-part:hover {
	color: red;
}

.icon {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.text {
	width: 100%;
	padding: 10px;
}

.pre-three {
	border-right: 2px solid #534141;
}

.text span {
	display: inline-block;
	width: 150px;
}



.about-world {
	width: 100%;
	background-color: #EDEAEA;
	font-size: 50px;
	text-align: center;
	padding: 100px;
}

.page-icon {
	margin-bottom: 60px;
}
























